In [2]:
#1. Import necessary libraries
import pandas as pd
import numpy as np

In [5]:
#2. Load the dataset ls-01 (assuming it's a CSV file)
dataset=pd.read_csv('ls-01.csv')
dataset.head()

   Age  Gender      Region   Income Married Children  Car Mortgage  Pep
0   48     NaN  INNER_CITY  17546.0      NO      YES   NO       NO  YES
1   40    MALE        TOWN  30085.1     YES      YES  YES      YES   NO
2   51  FEMALE  INNER_CITY  16575.4     YES       NO  YES       NO   NO
3   23  FEMALE        TOWN  20375.4     YES      YES   NO       NO   NO
4   57  FEMALE       RURAL  50576.3     YES       NO   NO       NO   NO

In [14]:
#3. Create two copies of the dataset
data1=dataset.copy()
data2=dataset.copy()

In [10]:
#4. Check for null values
print(dataset.isnull().sum())

Age          0
Gender      49
Region       0
Income       0
Married      0
Children     0
Car          0
Mortgage     0
Pep          0
dtype: int64

In [16]:
#5. Missing data handling
pd.isnull(data1['Gender'])

0       True
1      False
2      False
3      False
4      False
       ...
281    False
282    False
283    False
284    False
285    False
Name: Gender, Length: 286, dtype: bool

In [17]:
#6. Remove the missing values
data1.dropna(axis=1,thresh=286,inplace=True)
print(data1.isnull().sum())

Age         0
Region      0
Income      0
Married     0
Children    0
Car         0
Mortgage    0
Pep         0
dtype: int64

In [26]:
#7. Filling the missing values
data1=dataset.copy()
data1.fillna({'Gender':0},inplace=True)

data1['Income']=data1['Income'].fillna(data1['Income'].mean())

print(data1.isnull().sum())

Age         0
Gender      0
Region      0
Income      0
Married     0
Children    0
Car         0
Mortgage    0
Pep         0
dtype: int64

In [52]:
#8. Group the data
group_data1 = data1.groupby('Married').count()
print(group_data1)

         Age  Gender  Region  Income  Children  Car  Mortgage  Pep
Married
NO        93      93      93      93        93   93        93   93
YES      193     193     193     193       193  193       193  193

In [51]:
group_data2 = data1.groupby('Age').mean()
print(group_data2)

TypeError: agg function failed [how->mean,dtype->object]

In [53]:
group_data3 = data1.groupby('Income').sum()
print(group_data3)

          Age  Gender      Region Married Children  Car Mortgage  Pep
Income
5014.21    21    MALE        TOWN      NO       NO  YES      YES   NO
7304.20    22       0  INNER_CITY      NO       NO  YES      YES   NO
7549.38    21  FEMALE        TOWN      NO      YES  YES       NO   NO
7948.62    22    MALE  INNER_CITY     YES      YES   NO      YES   NO
8062.73    21    MALE  INNER_CITY      NO       NO   NO       NO  YES
...       ...     ...         ...     ...      ...  ...      ...  ...
58367.30   64  FEMALE        TOWN     YES      YES  YES       NO  YES
59503.80   66  FEMALE        TOWN     YES      YES  YES      YES  YES
59803.90   66  FEMALE        TOWN     YES       NO   NO       NO   NO
61554.60   65  FEMALE  INNER_CITY     YES       NO   NO       NO   NO
63130.10   67  FEMALE    SUBURBAN     YES      YES  YES       NO  YES

[286 rows x 8 columns]

In [34]:
#9. Label the missing values
data3=dataset.copy()
data3=data3.fillna("missing")
print(data3.isnull().sum())

Age         0
Gender      0
Region      0
Income      0
Married     0
Children    0
Car         0
Mortgage    0
Pep         0
dtype: int64

In [40]:
#10. Group data according to gender
data3.groupby(['Gender'])['Gender'].count()

Gender
FEMALE     122
MALE       115
missing     49
Name: Gender, dtype: int64

In [57]:
data3.groupby(['Gender'])['Gender'].first()

Gender
FEMALE      FEMALE
MALE          MALE
missing    missing
Name: Gender, dtype: object

In [ ]:
data3.groupby(['Gender'])['Gender'].mean()

In [58]:
data3.groupby(['Gender'])['Gender'].sum()

Gender
FEMALE     FEMALEFEMALEFEMALEFEMALEFEMALEFEMALEFEMALEFEMA...
MALE       MALEMALEMALEMALEMALEMALEMALEMALEMALEMALEMALEMA...
missing    missingmissingmissingmissingmissingmissingmiss...
Name: Gender, dtype: object

In [61]:
# 12. Dataset = [['milk','onion','nutmeg','kidney beans','eggs','yogurt'],
#     ['oil','onion','nutmeg','kidney beans','eggs','yogurt'],
#     ['milk','apple','kidney beans','eggs'],
#     ['milk','unicorn','corn','kidney beans','yogurt'],
#     ['corn','onion','onion','kidney beans','ice cream','eggs']]

dataset = [['milk','onion','nutmeg','kidney beans','eggs','yogurt'],
    ['oil','onion','nutmeg','kidney beans','eggs','yogurt'],
    ['milk','apple','kidney beans','eggs'],
    ['milk','unicorn','corn','kidney beans','yogurt'],
    ['corn','onion','onion','kidney beans','ice cream','eggs']]

In [71]:
#13. Import the pandas and mlxtend libraries
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [72]:
#14. Convert to DataFrame
te=TransactionEncoder()
te_ary=te.fit(dataset).transform(dataset)
df_trans=pd.DataFrame(te_ary,columns=te.columns_)
df_trans

,apple,corn,eggs,ice cream,kidney beans,milk,nutmeg,oil,onion,unicorn,yogurt
0,False,False,True,False,True,True,True,False,True,False,True
1,False,False,True,False,True,False,True,True,True,False,True
2,True,False,True,False,True,True,False,False,False,False,False
3,False,True,False,False,True,True,False,False,False,True,True
4,False,True,True,True,True,False,False,False,True,False,False

In [89]:
#15. Generate itemsets with min_support=0.6
from mlxtend.frequent_patterns import apriori
frequent_itemsets=apriori(df_trans,min_support=0.7,use_colnames=True)
frequent_patterns

    support                     itemsets
0       0.8                       (eggs)
1       1.0               (kidney beans)
2       0.6                       (milk)
3       0.6                      (onion)
4       0.6                     (yogurt)
5       0.8         (kidney beans, eggs)
6       0.6                (eggs, onion)
7       0.6         (milk, kidney beans)
8       0.6        (kidney beans, onion)
9       0.6       (kidney beans, yogurt)
10      0.6  (kidney beans, eggs, onion)

In [90]:
#16. Generate association rules
from mlxtend.frequent_patterns import association_rules
rules=association_rules(frequent_patterns,metric="confidence",min_threshold=0.7)
rules

C:\Python313\Lib\site-packages\mlxtend\frequent_patterns\association_rules.py:186: RuntimeWarning: invalid value encountered in divide
  cert_metric = np.where(certainty_denom == 0, 0, certainty_num / certainty_denom)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(kidney beans),(eggs),1.0,0.8,0.8,0.80,1.00,1.0,0.00,1.0,0.0,0.80,0.000,0.900
1,(eggs),(kidney beans),0.8,1.0,0.8,1.00,1.00,1.0,0.00,inf,0.0,0.80,0.000,0.900
2,(eggs),(onion),0.8,0.6,0.6,0.75,1.25,1.0,0.12,1.6,1.0,0.75,0.375,0.875
3,(onion),(eggs),0.6,0.8,0.6,1.00,1.25,1.0,0.12,inf,0.5,0.75,1.000,0.875
4,(milk),(kidney beans),0.6,1.0,0.6,1.00,1.00,1.0,0.00,inf,0.0,0.60,0.000,0.800
5,(onion),(kidney beans),0.6,1.0,0.6,1.00,1.00,1.0,0.00,inf,0.0,0.60,0.000,0.800
6,(yogurt),(kidney beans),0.6,1.0,0.6,1.00,1.00,1.0,0.00,inf,0.0,0.60,0.000,0.800
7,"(kidney beans, eggs)",(onion),0.8,0.6,0.6,0.75,1.25,1.0,0.12,1.6,1.0,0.75,0.375,0.875
8,"(kidney beans, onion)",(eggs),0.6,0.8,0.6,1.00,1.25,1.0,0.12,inf,0.5,0.75,1.000,0.875
9,"(eggs, onion)",(kidney beans),0.6,1.0,0.6,1.00,1.00,1.0,0.00,inf,0.0,0.60,0.000,0.800
10,(eggs),"(kidney beans, onion)",0.8,0.6,0.6,0.75,1.25,1.0,0.12,1.6,1.0,0.75,0.375,0.875
11,(onion),"(kidney beans, eggs)",0.6,0.8,0.6,1.00,1.25,1.0,0.12,inf,0.5,0.75,1.000,0.875

In [91]:
#17. Select subsets of rules with key metrics
rules_subset=rules[['antecedents','consequents','support','confidence','lift']]
rules_subset

              antecedents            consequents  support  confidence  lift
0          (kidney beans)                 (eggs)      0.8        0.80  1.00
1                  (eggs)         (kidney beans)      0.8        1.00  1.00
2                  (eggs)                (onion)      0.6        0.75  1.25
3                 (onion)                 (eggs)      0.6        1.00  1.25
4                  (milk)         (kidney beans)      0.6        1.00  1.00
5                 (onion)         (kidney beans)      0.6        1.00  1.00
6                (yogurt)         (kidney beans)      0.6        1.00  1.00
7    (kidney beans, eggs)                (onion)      0.6        0.75  1.25
8   (kidney beans, onion)                 (eggs)      0.6        1.00  1.25
9           (eggs, onion)         (kidney beans)      0.6        1.00  1.00
10                 (eggs)  (kidney beans, onion)      0.6        0.75  1.25
11                (onion)   (kidney beans, eggs)      0.6        1.00  1.25

In [92]:
#18. Filter rules where confidence >= 1
high_confidence=rules[rules['confidence']>=1]